@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap')
@import vars

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

*
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    border-radius: 100vh
  &::-webkit-scrollbar-thumb
    background: #2b84e9
    border-radius: 100vh

img
  max-width: 100%
  display: block

svg
  display: block

ul
  list-style: none

a
  text-decoration: none
  display: inline-block
  color: inherit

.container
  max-width: 1400px
  padding: 0 15px
  margin: 0 auto

body
  font-family: 'Noto Sans', sans-serif
  font-size: 16px
  font-weight: 400
  color: $secondary

#app
  min-height: 100vh

.page
  height: calc(100vh - 60px)
  padding: 15px 0

input
  background: none
  border: none
  color: inherit
  font-size: inherit
  font-family: inherit
  outline: none

button
  background: none
  border: none
  color: inherit
  font-size: inherit
  font-family: inherit
  cursor: pointer

.btn
  border: 2px solid $secondary
  padding: 8px 14px
  font-weight: bold
  border-radius: 8px
  background-color: $four
  color: $five
  &:disabled
    opacity: .4
